\version "2.11.64"

\include "horn_notes.lyi"
\include "defs.lyi"

\paper
{
  #(define page-breaking ly:page-turn-breaking)
  ragged-last-bottom = ##f
}

instrument = \markup{Horn in *KEY_MARKUP*}

\include "header.lyi"

\score
{
  \new Staff
  {
    #(set-accidental-style 'modern)
    \set Score.skipBars = ##t
    \clef treble
    \transpose f *KEY* << \horn \outline >>
  }
}

